---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=%7B:location=%3E%22Chicago,%20Illinois%22%7D&key=AIzaSyBXImBtVgKEnRQlYYOHfPRYKWj3PoBaaE0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Chicago",
                       "short_name" : "Chicago",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Cook County",
                       "short_name" : "Cook County",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "Illinois",
                       "short_name" : "IL",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Chicago, IL, USA",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 42.023131,
                          "lng" : -87.52366099999999
                       },
                       "southwest" : {
                          "lat" : 41.6443349,
                          "lng" : -87.9402669
                       }
                    },
                    "location" : {
                       "lat" : 41.8781136,
                       "lng" : -87.6297982
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 42.023131,
                          "lng" : -87.52366099999999
                       },
                       "southwest" : {
                          "lat" : 41.6443349,
                          "lng" : -87.9402669
                       }
                    }
                 },
                 "place_id" : "ChIJ7cv00DwsDogRAMDACa2m4K8",
                 "types" : [ "locality", "political" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Mon, 25 Feb 2019 21:25:55 GMT
recorded_with: VCR 4.0.0
